<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <base href="/" />
    @* <link rel="stylesheet" href="@Assets["css/theme.css"]" /> *@
    @*  *@
    @*  *@
    <ImportMap /> 
    @* <link rel="icon" type="image/png" href="@Assets["favicon/logo.png"]" /> *@

    @* <meta charset="utf-8"> *@

    <title>Slicksys Development</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Slicksys Development">
    <meta name="keywords" content="bootstrap, business, creative agency, mobile app showcase, saas, fintech, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Slick Studio">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Theme switcher (color modes) -->
    <script src="@Assets["js/theme-switcher.js"]"></script>

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="@Assets["favicon/apple-touch-icon.png"]">
    <link rel="icon" type="image/png" sizes="32x32" href="@Assets["favicon/favicon-32x32.png"]">
    <link rel="icon" type="image/png" sizes="16x16" href="@Assets["favicon/favicon-16x16.png"]">
    <link rel="manifest" href="@Assets["favicon/site.webmanifest"]">
    <link rel="mask-icon" href="@Assets["favicon/safari-pinned-tab.svg"]" color="#6366f1">
    <link rel="shortcut icon" href="@Assets["favicon/favicon.ico"]">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="@Assets["favicon/browserconfig.xml"]">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="@Assets["lib/boxicons/css/boxicons.min.css"]">
    <link rel="stylesheet" media="screen" href="@Assets["lib/swiper/swiper-bundle.min.css"]">
    <link rel="stylesheet" media="screen" href="@Assets["lib/img-comparison-slider/dist/styles.css"]">

    <!-- Main Theme Styles + Bootstrap -->
    @* <link rel="stylesheet" media="screen" href="assets/css/theme.min.css"> *@
    <link rel="stylesheet" href="@Assets["css/theme.css"]" />
    
    <style>
        .page-loading {
            position: fixed;
            top: 0; right: 0; bottom: 0; left: 0;
            width: 100%; height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }
        [data-bs-theme="dark"] .page-loading { background-color: #0b0f19; }
        .page-loading.active { opacity: 1; visibility: visible; }
        .page-loading-inner {
            position: absolute;
            top: 50%; left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }
        .page-loading.active > .page-loading-inner { opacity: 1; }
        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #9397ad;
        }
        [data-bs-theme="dark"] .page-loading-inner > span { color: #fff; opacity: .6; }
        .page-spinner {
            display: inline-block;
            width: 2.75rem; height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #b4b7c9;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }
        [data-bs-theme="dark"] .page-spinner { border-color: rgba(255,255,255,.4); border-right-color: transparent; }
        @@-webkit-keyframes spinner { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
        @@keyframes spinner { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
    </style>

    <script>
        (function () {
            window.onload = function () {
                const preloader = document.querySelector('.page-loading');
                if (preloader) {
                    preloader.classList.remove('active');
                    setTimeout(function () { preloader.remove(); }, 1000);
                }
            };
        })();
    </script>

    <HeadOutlet />
</head>
<body>
<Routes />

    <script src="/_framework/blazor.web.js"></script>
    <script src="@Assets["lib/rellax/rellax.min.js"]"></script>
    <script src="@Assets["lib/@lottiefiles/lottie-player/dist/lottie-player.js"]"></script>
    <script src="@Assets["lib/swiper/swiper-bundle.min.js"]"></script>
    <script src="@Assets["js/theme.min.js"]"></script>

</body>
</html>




